.gap{
    height: auto;
    max-width: 100% !important;
}

.restricted{
    min-height: 360px;
    max-height: 360px;
}

.logo{
    font: normal 36px Cookie, cursive;
}

.logo span{
    color: blue;
}

table{
    border-collapse:collapse;
    border:1px solid #000000;
}

table td{
    border:1px solid #000000;
}

.tab-pane{
    padding: 2%;
}

.pulse {
    color: blue;
    animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 43, 255, 0.3);;
    }

    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

.sup{
    padding-left: 1%;
    padding-right: 1%;
}

.list-unstyled{
    margin-top: 2%;
    border: white 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.bordered{
    padding: 4px;
    border-bottom: 1px dotted #b3b3b3;
}

.head-main{
    border-bottom: 1px dotted #b3b3b3;
    padding-top: 5px;
}

hr{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

li:hover{
    background: powderblue;
    transition: 300ms;
}

li:not(:hover){
    transition: 200ms;
}

.caption{
    min-width: 300px;
    max-width: 300px;
    height: auto;
    padding-top: 2%;
}

figure{
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.my_shadow{
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

inline {
    display: inline-block;
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.linkColor{
    color: #1b1e21;
}

.colored{
    background: rgba(0,184,255,0.03);
}

.login-dark {
    height:1000px;
    background:#475d62 url(../../assets/img/star-sky.jpg);
    background-size:cover;
    position:relative;
}

.login-dark form {
    max-width:320px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
}

.login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
}

.login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
}

.login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
}

.login-dark form .btn-primary:active {
    transform:translateY(1px);
}

